@font-face {
    font-family: SourceCode;
    font-weight: normal;
    font-style: normal;
    src: url("fonts/SourceCodePro-Regular.otf.woff") format("woff");
}
@font-face {
    font-family: SourceSans;
    font-weight: normal;
    font-style: normal;
    src: url("fonts/SourceSansPro-Regular.otf.woff") format("woff");
}
@font-face {
    font-family: SourceSans;
    font-weight: bold;
    font-style: normal;
    src: url("fonts/SourceSansPro-Bold.otf.woff") format("woff");
}
@font-face {
    font-family: SymbolSet;
    src: url("fonts/ss-standard.woff") format("woff");
}