.search {
    height: 40px;
    line-height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    background: #4c5053;
    border-bottom: 1px solid #3d4042;
    input {
        border: 0 none;
        background: transparent;
        height: 40px;
        width: 100%;
        padding-left: 40px;
        color: white;
        font-family: SourceSans;
        font-size: 18px;
    }
    &:before {
        font-family: SymbolSet;
        content: '\1F50E';
        width: 40px;
        height: 40px;
        font-size: 18px;
        text-align: center;
        color: #d98541;
        line-height: 44px;
        position: absolute;
    }
}