.left-top {
    background: #d98541;
    border-top: 1px solid #e4aa7a;
    border-bottom: 1px solid #825027;
    height: 39px;
    color: white;
    line-height: 34px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    padding-left: 40px;
    font-size: 20px;
    &:before {
        font-family: SymbolSet;
        content: '\25C5';
        width: 40px;
        height: 40px;
        font-size: 18px;
        text-align: center;
        color: white;
        line-height: 41px;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.search {
    height: 35px;
    line-height: 35px;
    position: absolute;
    left: 0;
    top: 39px;
    right: 0;
    background: #4c5053;
    border-bottom: 1px solid #3d4042;
    input {
        border: 0 none;
        background: transparent;
        height: 35px;
        width: 100%;
        padding-left: 40px;
        color: white;
        font-family: SourceSans;
        font-size: 18px;
    }
    &:before {
        font-family: SymbolSet;
        content: '\1F50E';
        width: 40px;
        height: 35px;
        font-size: 16px;
        text-align: center;
        color: #d98541;
        line-height: 40px;
        position: absolute;
        left: 2px;
    }
}
.views {
    top: 74px;
    &, & > div {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    > div {
        padding: 15px;
        top: 0;
        overflow: auto;
        display: none;
        &.active {
            display: block;
        }
    }
    .tree {
        color: #f9f8f5;
        font-size: 16px;
        line-height: 24px;
        white-space: nowrap;
        .no-text-highlighting();
        li { position: relative; }
        i { 
            display: inline-block;
            width: 20px;
            color: #999693;
            font-size: 12px;
        }
        .folder {
            padding-left: 20px;
            > i { width: 0; }
            > i:before {
                content: '\25BB';
                font-family: SymbolSet;
                width: 20px;
                height: 20px;
                position: absolute;
                left: 0;
                top: 2px;
                font-size: 10px;
                transition: transform 0.15s;
                -webkit-transition: -webkit-transform 0.15s; 
                -webkit-transform-origin: 5px 11px;
                transform-origin: 5px 11px;
                color: white;
            }
            &.open > i:before {
                //content: 'F501';
                transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
            }
            > s {
                font-weight: bold;
                &:before {
                    display: inline-block;
                    content: '\1F4C1';
                    font-size: 13px;
                    font-family: SymbolSet;
                    position: relative;
                    top: 2px;
                    color: #999693;
                    width: 20px;
                }
            }
        }
    }
}

