/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
textarea, input { outline: none; }
html, body { height: 100%; }
    
body {
    background: #666462;
    border-top: 1px solid #696969;
    font-family: SourceSans;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    transition: opacity 0.1s;
    -webkit-transition: opacity 0.1s; 
    overflow: hidden;
    &.loaded {
        opacity: 1;
    }
}
b, i, u, s {
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
ul, li {
    list-style-type: none;
    padding: 0; margin: 0;
}
.no-text-highlighting() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* ul ul {
    padding-left: 20px;
} */

.panel-left { 
    background: #666462;
    border-right: 1px solid #474644;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 245px;
}
.panel-main {
    background: #edece8;
    position: absolute;
    left: 245px;
    top: 0; right: 0;
    bottom: 0;
    textarea {
        width: 100%;
        height: 100%;
    }
}

