/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
html, body { height: 100%; }
body {
    background: #666462;
    border-top: 1px solid #696969;
}
.panel-left { 
    background: #666462;
    border-right: 1px solid #474644;
}
.panel-main {
    background: #edece8;
    position: absolute;
    left: 245px;
    top: 0; right: 0;
    bottom: 0;
    textarea {
        width: 100%;
        height: 100%;
    }
}

