// Animation keyframes at bottom

.close {
    &, &:before {
        content: '\2421';
        font-family: SymbolSet;
        display: inline-block;
        width: 28px;
        height: 34px;
        color: #bfbdba;
        text-align: center;
    }
}


.tabs {
    position: absolute;
    left: 0;
    right: 0;
    right: 0;
    height: 40px;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    .tab-out {
        display: inline-block;
        margin: 0 1px;
        cursor: default;
        -webkit-perspective: 600px;
        perspective: 600px;
        position: relative;
        &.active {
            z-index: 5;
        }
    }
    .tab {
        border-radius: 3px 3px 0 0;
        position: relative;
        b, span {
            display: inline-block;
            vertical-align: middle;
            height: 34px;
        }
        span {
            font-size: 18px;
            line-height: 30px;
            padding-right: 9px;
        }
        .crunch {
            position: absolute;
            top: 0;
            right: 0;
            background: #a69b95 linear-gradient(#a69b95, #99908a);
            border-left: 1px solid rgba(50,50,50,0.4);
            width: 26px;
            //margin-left: -3px;
            //margin-top: -5px;
            height: 34px;
            color: white;
            border-radius: 0 2px 0 0;
            box-shadow: inset 0 1px rgba(255,255,255,0.25),
                inset 0 -1px rgba(0,0,0,0.25);
            font-size: 13px;
            line-height: 32px;
            &:hover {
                background: lighten(#a69b95,5%) linear-gradient(lighten(#a69b95,5%), lighten(#99908a,5%));  
            }
            &:before {
                width: 25px;
                height: 30px;
                margin-top: 3px;
                display: inline-block;
                text-align: center;
                opacity: 0.6;
                background-image: url("../img/topdown.svg");
                background-size: 14px 14px;
                background-position: center;
                content: '';
                background-repeat: no-repeat;
            }
            &.up:before {
                background-image: none;
                content: '\25B4';
                font-family: SymbolSet;
            }
        }
    }
    .files {
        background: #666462;
        height: 40px;
        padding: 5px 3px 0;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        .tab {
            background: #8C837d linear-gradient(#8C837d, #807973);
            border: 1px solid #575553;
            border-width: 1px 1px 0 1px;
            vertical-align: bottom;
            height: 35px;
            line-height: 35px;
            color: #e5e5e5;
            box-shadow: inset 0 1px rgba(255,255,255,0.25),
                inset 0 -1px rgba(0,0,0,0.25);
            padding-right: 30px;
            backface-visiblity: hidden;
            -ms-backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            transition: transform 0.15s;
            -webkit-transition: -webkit-transform 0.15s;  
            &:hover {
                background: lighten(#8C837d,5%) linear-gradient(lighten(#8C837d,5%), lighten(#807973,5%));
            }
            &.reg, &.minis {
               -webkit-transform-origin: 50% 50% -34px; 
            }
            &.reg {
                -webkit-transform: perspective(600px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateZ(-17px);
                transform: perspective(600px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateZ(-17px);
                opacity: 1;
            }
            &.minis {
                -webkit-transform: perspective(600px) rotateX(90deg) rotateY(0deg) rotateZ(0deg) translateZ(-17px);
                transform: perspective(600px) rotateX(90deg) rotateY(0deg) rotateZ(0deg) translateZ(-17px);
                opacity: 1;
            }
           
            
        }
        .active.flipped .tab {
            &.reg {
                -webkit-transform: perspective(600px) rotateX(-91deg) rotateY(0deg) rotateZ(0deg) translateZ(-17px);
                transform: perspective(600px) rotateX(-91deg) rotateY(0deg) rotateZ(0deg) translateZ(-17px);
                opacity: 0;
                transition: transform 0.15s, opacity 0.05s linear 0.10s;
                -webkit-transition: -webkit-transform 0.15s, opacity 0.05s linear 0.10s;  
            }
            &.minis {
                -webkit-transform: perspective(600px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateZ(-17px);
                transform: perspective(600px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateZ(-17px);
                opacity: 1;
                //transition: transform 0.20s, opacity 0.10s linear;
                //-webkit-transition: -webkit-transform 0.20s, opacity 0.10s linear;  
            }
        }
        .plain .tab {
            padding-right: 4px;
        }
        .active .tab {
            background: #edece8 none;
            box-shadow: inset 0 1px rgba(255,255,255,0.25);
            color: #404040;
            &.sub {
                color: #d98541;
            }
            .close {
                color: #737373;
            }
            .crunch {
                background: #d98541 none;
                &:hover {
                    background-color: lighten(#d98541,5%);
                }
                &:before {
                    opacity: 0.8;
                    background-image: url("../img/topdown_black.svg");
                }
                &.up:before {
                    background-image: none;
                    color: black;
                }
            }
        }
        
        .minis {
            margin-bottom: -35px;
            font-size: 18px;
            color: #7a7a78;
            padding-left: 3px;
            line-height: 37px;
        }
        .active .minis {
            background: #c7c6c3;
        }
        .mini {
            display: inline-block;
            border-radius: 3px 3px 0 0;
            height: 30px;
            line-height: 28px;
            border: 1px solid #a69b95;
            border-bottom: 0;
            padding: 0 12px;
            color: #e5e5e5;
            &.active {
                background: #a69b95 linear-gradient(#a69b95, #99908a);
            }
        }
        .active .mini {
            color: #404040;
            border-color: lighten(#c7c6c3,5%);
            &.active {
                border-color: #bfbebb;
                background: #edece8;            
            }
        }
    }
}
/*
@keyframes TAB_MINI_ANIMATION {
    0% {
        transform: perspective(600px) rotateX(90deg) rotateY(0deg) rotateZ(0deg) translateZ(-17px);
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    100% {
        transform: perspective(600px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateZ(-17px); 
        opacity 1;
    }
}
@-webkit-keyframes TAB_MINI_ANIMATION {
    0% {
        -webkit-transform: perspective(600px) rotateX(90deg) rotateY(0deg) rotateZ(0deg) translateZ(-17px);
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    100% {
        -webkit-transform: perspective(600px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateZ(-17px); 
        opacity 1;
    }
}
@keyframes TAB_ANIMATION {
    0% {
        transform: perspective(600px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateZ(-17px);
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        transform: perspective(600px) rotateX(-90deg) rotateY(0deg) rotateZ(0deg) translateZ(-17px); 
        opacity 0;
    }
}
@-webkit-keyframes TAB_ANIMATION {
    0% {
        -webkit-transform: perspective(600px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateZ(-17px);
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        -webkit-transform: perspective(600px) rotateX(-90deg) rotateY(0deg) rotateZ(0deg) translateZ(-17px); 
        opacity 0;
    }
} */